Repository adobe/aepsdk-react-native, pull requests merged in 2021-11, with the labels that each got.

#80 Added APIs for Consent extension
  README.md
  apps/AEPSampleApp/extensions/Consent.js
  apps/AEPSampleApp/ios/AEPSampleApp/AppDelegate.m
  packages/edgeconsent/README.md
  packages/edgeconsent/__tests__/AEPConsentTests.ts
  packages/edgeconsent/android/src/main/java/com/adobe/marketing/mobile/reactnative/edgeconsent/RCTAEPEdgeConsentModule.java
  packages/edgeconsent/android/src/main/java/com/adobe/marketing/mobile/reactnative/edgeconsent/RCTAEPEdgeConsentUtils.java
  packages/edgeconsent/ios/src/RCTAEPEdgeConsent.m
  packages/edgeconsent/js/AEPConsent.js
  packages/edgeconsent/js/index.d.ts
  tests/jest/setup.ts
Labels: Consent

#81 Add IdentityMap functions in JS.
  apps/AEPSampleApp/android/build.gradle
  apps/AEPSampleApp/extensions/EdgeIdentity.js
  packages/edgeidentity/__tests__/AEPEdgeIdentityTests.ts
  packages/edgeidentity/__tests__/AEPIdentityMapTests.ts
  packages/edgeidentity/android/build.gradle
  packages/edgeidentity/android/src/main/java/com/adobe/marketing/mobile/reactnative/edgeidentity/RCTAEPEdgeIdentityDataBridge.java
  packages/edgeidentity/ios/src/RCTAEPEdgeIdentity.m
  packages/edgeidentity/js/AEPIdentity.js
  packages/edgeidentity/js/index.d.ts
  packages/edgeidentity/js/models/AEPAuthenticatedState.js
  packages/edgeidentity/js/models/AEPIdentityItem.js
  packages/edgeidentity/js/models/AEPIdentityMap.js
  tests/jest/setup.ts
Labels: edgeIdentity

#86 Reduce visibility for utility classes and handle error callback
  apps/AEPSampleApp/ios/Podfile.lock
  packages/core/android/src/main/java/com/adobe/marketing/mobile/reactnative/RCTAEPArrayUtil.java
  packages/core/android/src/main/java/com/adobe/marketing/mobile/reactnative/RCTAEPCoreDataBridge.java
  packages/core/android/src/main/java/com/adobe/marketing/mobile/reactnative/RCTAEPCoreModule.java
  packages/core/android/src/main/java/com/adobe/marketing/mobile/reactnative/RCTAEPIdentityDataBridge.java
  packages/core/android/src/main/java/com/adobe/marketing/mobile/reactnative/RCTAEPIdentityModule.java
  packages/core/android/src/main/java/com/adobe/marketing/mobile/reactnative/RCTAEPLifecycleModule.java
  packages/core/android/src/main/java/com/adobe/marketing/mobile/reactnative/RCTAEPMapUtil.java
  packages/core/android/src/main/java/com/adobe/marketing/mobile/reactnative/RCTAEPSignalModule.java
  packages/core/ios/src/Core/RCTAEPCore.m
  packages/core/ios/src/Identity/RCTAEPIdentity.m
  yarn.lock
Labels: core

#87 Edge - renaming, sample app and documentation updates
  apps/AEPSampleApp/App.js
  apps/AEPSampleApp/android/app/src/main/java/com/aepsampleapp/MainApplication.java
  apps/AEPSampleApp/extensions/Edge.js
  apps/AEPSampleApp/extensions/EdgeView.js
  apps/AEPSampleApp/ios/Podfile.lock
  packages/edge/README.md
  packages/edge/__tests__/EdgeTests.ts
  packages/edge/js/Edge.js
  packages/edge/js/index.d.ts
  packages/edge/js/index.js
  packages/edge/js/models/EdgeEventHandle.js
  packages/edge/js/models/ExperienceEvent.js
  yarn.lock
Labels: edge

#82 Update Readme for EdgeIdentity
  packages/edgeidentity/README.md
Labels: edgeIdentity

#97 Consent - return promise fix
  apps/AEPSampleApp/ios/Podfile.lock
  packages/edgeconsent/js/Consent.js
Labels: consent
