Repository adobe/aepsdk-react-native, pull requests merged in 2021-12, with the labels that each got.

#103 Assurance - renaming public JS classes
  packages/assurance/README.md
  packages/assurance/__tests__/AssuranceTests.ts
  packages/assurance/js/Assurance.js
  packages/assurance/js/index.d.ts
  packages/assurance/js/index.js
Labels: assurance

#100 Convert native identity map object to js identity map
  packages/edgeidentity/__tests__/IdentityTests.ts
  packages/edgeidentity/js/Identity.js
  tests/jest/setup.ts
Labels: edgeIdentity

#115 Remove Static from Readme
  apps/AEPSampleApp/extensions/EdgeIdentityView.js
  apps/AEPSampleApp/styles/styles.js
  packages/edgeidentity/README.md
Labels: edgeIdentity

#114 Add return promise custom type
  apps/AEPSampleApp/extensions/ConsentView.js
  packages/edge/README.md
  packages/edge/js/Edge.js
Labels: edge

#120 Fix return type for ts
  packages/edge/README.md
  packages/edge/__tests__/EdgeTests.ts
  packages/edge/js/Edge.js
  packages/edge/js/index.d.ts
  tests/jest/setup.ts
Labels: edge

#98 edge -> staging
  apps/AEPSampleApp/App.js
  apps/AEPSampleApp/android/app/src/main/java/com/aepsampleapp/MainApplication.java
  apps/AEPSampleApp/extensions/ConsentView.js
  apps/AEPSampleApp/extensions/Edge.js
  apps/AEPSampleApp/extensions/EdgeView.js
  packages/edge/README.md
  packages/edge/__tests__/EdgeTests.ts
  packages/edge/android/src/main/java/com/adobe/marketing/mobile/reactnative/edge/RCTAEPEdgeArrayUtil.java
  packages/edge/android/src/main/java/com/adobe/marketing/mobile/reactnative/edge/RCTAEPEdgeDataBridge.java
  packages/edge/android/src/main/java/com/adobe/marketing/mobile/reactnative/edge/RCTAEPEdgeMapUtil.java
  packages/edge/android/src/main/java/com/adobe/marketing/mobile/reactnative/edge/RCTAEPEdgeModule.java
  packages/edge/android/src/main/java/com/adobe/marketing/mobile/reactnative/edge/RCTAEPEdgePackage.java
  packages/edge/js/AEPEdge.js
  packages/edge/js/Edge.js
  packages/edge/js/index.d.ts
  packages/edge/js/index.js
  packages/edge/js/models/EdgeEventHandle.js
  packages/edge/js/models/ExperienceEvent.js
  tests/jest/setup.ts
  yarn.lock
Labels: edge

#122 Enum support for AuthenticatedState in ts
  packages/edgeidentity/__tests__/IdentityMapTests.ts
  packages/edgeidentity/js/index.d.ts
Labels: edgeIdentity

#130 Main README cleanup
  README.md
Labels: documentation

#132 REAME cleanup
  README.md
  apps/AEPSampleApp/ios/Podfile.lock
  packages/edge/README.md
  packages/edgeconsent/README.md
  packages/edgeidentity/README.md
  packages/messaging/README.md
Labels: documentation

#133 Bug fix: correct error handling logic
  packages/core/ios/src/Identity/RCTAEPIdentity.m
  packages/edgeidentity/ios/src/RCTAEPEdgeIdentity.m
Labels: edgeIdentity, core
