Repository adobe/aepsdk-react-native, pull requests merged in 2022-03, with the labels that each got.

#149 [bug-fix] pass WritableMap to javascript code for profile's getter method
  packages/userprofile/android/src/main/java/com/adobe/marketing/mobile/reactnative/userprofile/RCTAEPUserProfileModule.java
Labels: bug

#155 [userprofile] clean up userprofile package & update public docs with typescript syntax
  packages/userprofile/.babelrc
  packages/userprofile/README.md
  packages/userprofile/android/.gradle/6.0/executionHistory/executionHistory.lock
  packages/userprofile/android/.gradle/6.0/fileChanges/last-build.bin
  packages/userprofile/android/.gradle/6.0/fileHashes/fileHashes.bin
  packages/userprofile/android/.gradle/6.0/fileHashes/fileHashes.lock
  packages/userprofile/android/.gradle/6.0/gc.properties
  packages/userprofile/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  packages/userprofile/android/.gradle/buildOutputCleanup/cache.properties
  packages/userprofile/android/.gradle/buildOutputCleanup/outputFiles.bin
  packages/userprofile/android/.gradle/vcs-1/gc.properties
  packages/userprofile/android/gradle/wrapper/gradle-wrapper.jar
  packages/userprofile/android/gradle/wrapper/gradle-wrapper.properties
  packages/userprofile/android/gradlew
  packages/userprofile/android/gradlew.bat
  packages/userprofile/ts/UserProfile.ts
Labels: userprofile

#156 Clean up for Edge extension
  packages/edge/.babelrc
  packages/edge/README.md
  packages/edge/android/gradle/wrapper/gradle-wrapper.jar
  packages/edge/android/gradle/wrapper/gradle-wrapper.properties
  packages/edge/android/gradlew
  packages/edge/android/gradlew.bat
Labels: edge

#157 [core] clean up core package & update public docs with typescript syntax
  packages/core/.babelrc
  packages/core/README.md
  packages/core/__tests__/IdentityTests.ts
  packages/core/__tests__/MobileCoreTests.ts
  packages/core/android/gradle/wrapper/gradle-wrapper.jar
  packages/core/android/gradle/wrapper/gradle-wrapper.properties
  packages/core/android/gradlew
  packages/core/android/gradlew.bat
  packages/core/ts/Identity.ts
  packages/core/ts/Lifecycle.ts
  packages/core/ts/MobileCore.ts
  packages/core/ts/Signal.ts
Labels: core

#163 Clean up Consent package and update readme
  packages/edgeconsent/.babelrc
  packages/edgeconsent/README.md
  packages/edgeconsent/android/gradle/wrapper/gradle-wrapper.jar
  packages/edgeconsent/android/gradle/wrapper/gradle-wrapper.properties
  packages/edgeconsent/android/gradlew
  packages/edgeconsent/android/gradlew.bat
  packages/edgeconsent/ts/Consent.ts
Labels: consent
